/* CSS Styling to format the layout*/

body {
    font-family: sans-serif;
    margin: 30px;
    padding: 0;
}

h1, h2, h3, p {
    margin-bottom: 20px;
    text-align: left;
}

h1{
	margin-bottom:30pxl
}

form{
	width: 25%;
}

input[type="text"]{
	float:right;
}


button, input[type="submit"], input[type="reset"] {
    padding: 6px 10px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]{
	float:right;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption{
	margin-bottom:10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 6px 8px; 
    text-align: left;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    text-align: center;
}

footer span{
	margin-right:225px
	
}
